.body {
  padding: 1x;
}

.landing-container {
  width: 100%;
  height: 100vh;
  background-color: white;
}

.landing-top-row {
  height: 60vh;
  align-items: center;
  padding-top: 30px;
}

.landing-col {
  font-family: 'Tajawal';
  font-size: 180px;
  min-width: 1000px;
  height: 270px;
  text-align: center;
  color: #252525;
}

.landing-bottom-row {
  height: 40vh;
  align-items: center;
  background-color: #252525;
  box-shadow: 0px 10px 20px 10px #424040;
}

.form-col {
  text-align: center;
}

.ready-div {
  display: block;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.lets-go-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.landing-lobby-bottom-row {
  height: 40vh;
  padding: 20px;
  background-color: #252525;
  box-shadow: 0px 10px 20px 10px #424040;
}

.question-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-family: 'Tajawal';
  padding: 0px 50px 0px 50px;
  color: #252525;
  position: relative;
}

.scoreboard-col {
  background-color: #252525;
  padding-top: 10px;
  overflow: hidden;
}

.answers-row {
  height: 40vh;
  background-color: #252525;
  box-shadow: 0px 10px 20px 10px #424040;
}

.player-card {
  height: 80px;
  background-color: purple;
  color: white;
  font-size: 30px;
  font-family: 'Tajawal';
  text-align: center;
  vertical-align: middle;
  padding-top: 14px;
  overflow: hidden;
  line-height: 2;
}

.players-row {
  margin-bottom: 10px;
}

.answer-card {
  height: 80px;
  background-color: #515151;
  color: white;
  font-size: 30px;
  font-family: 'Tajawal';
  text-align: center;
  vertical-align: middle;
  padding-top: 14px;
  overflow: hidden;
  line-height: 2;
  box-shadow: 0 0px 0px rgb(255, 255, 255),
    /*bottom external highlight*/ 0 0px 0px #666,
    /*top external shadow*/ inset 0 -5px 5px rgba(32, 32, 32, 0.5),
    /*bottom internal shadow*/ inset 0 5px 5px rgba(163, 163, 163, 0.8);
}
div.answer-card:hover {
  background-color: #666666;
  box-shadow: 0 0px 0px rgb(255, 255, 255),
    /*bottom external highlight*/ 0 0px 0px #666,
    /*top external shadow*/ inset 0 -5px 5px rgba(54, 54, 54, 0.5),
    /*bottom internal shadow*/ inset 0 5px 5px rgba(206, 206, 206, 0.8);
  cursor: pointer;
}

.scoreboard-card {
  height: 35px;
  background-color: purple;
  color: white;
  font-size: 20px;
  font-family: 'Tajawal';
  vertical-align: middle;
  padding-left: 30px;
  padding-right: 30px;
  overflow: hidden;
  line-height: 2;
  max-width: 70%;
  min-width: 120px;
}

.waiting {
  animation: blinker 2s step-start infinite;
  margin-top: -50px;
}

.border-35 {
  border-radius: 35px;
}

@keyframes blinker {
  5% {
    opacity: 1;
  }
  10% {
    opacity: 0.9;
  }
  15% {
    opacity: 0.8;
  }
  20% {
    opacity: 0.7;
  }
  25% {
    opacity: 0.6;
  }
  30% {
    opacity: 0.5;
  }
  35% {
    opacity: 0.4;
  }
  40% {
    opacity: 0.3;
  }
  45% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.1;
  }
  55% {
    opacity: 0.2;
  }
  60% {
    opacity: 0.3;
  }
  65% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.7;
  }
  85% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

#triangle {
  width: 0;
  height: 0;
  border-bottom: 20px solid #252525;
  border-left: 20px solid transparent;
  position: absolute;
  right: 0;
  bottom: 0;
}

#category {
  font-size: 20px;
  position: absolute;
  top: 0;
  padding: 10px 30px 10px 30px;
  color: #c7c7c7;
  background-color: #252525;
  border-radius: 0px 0px 20px 20px;
}
