.landing-container {
  width: 100%;
  height: 100vh;
  background-color: white;
}

.landing-top-row {
  height: 60vh;
  align-items: center;
}

.landing-col {
  font-family: 'Tajawal';
  font-size: 180px;
  min-width: 1000px;
  height: 270px;
  text-align: center;
  color: #252525;
}

.landing-bottom-row {
  height: 40vh;
  align-items: center;
  background-color: #252525;
  box-shadow: 0px 10px 20px 10px #424040;
}

.form-col {
  text-align: center;
}

.ready-div {
  display: block;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 70px;
}

.lets-go-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.landing-lobby-bottom-row {
  height: 40vh;
  padding: 20px;
  background-color: #252525;
}

.player-card {
  height: 80px;
  background-color: purple;
  color: white;
  font-size: 30px;
  font-family: Tajawal;
  text-align: center;
  vertical-align: middle;
  padding-top: 14px;
  overflow: hidden;
  line-height: 2;
}

.waiting {
  animation: blinker 2s step-start infinite;
  margin-top: -50px;
}

.border-35 {
  border-radius: 35px;
}

@keyframes blinker {
  5% {
    opacity: 1;
  }
  10% {
    opacity: 0.9;
  }
  15% {
    opacity: 0.8;
  }
  20% {
    opacity: 0.7;
  }
  25% {
    opacity: 0.6;
  }
  30% {
    opacity: 0.5;
  }
  35% {
    opacity: 0.4;
  }
  40% {
    opacity: 0.3;
  }
  45% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.1;
  }
  55% {
    opacity: 0.2;
  }
  60% {
    opacity: 0.3;
  }
  65% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.7;
  }
  85% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
